.bs-icon {
    --bs-icon-size: .75rem;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: var(--bs-icon-size);
    width: calc(var(--bs-icon-size) * 2);
    height: calc(var(--bs-icon-size) * 2);
    color: var(--bs-primary)
}

.bs-icon-xs {
    --bs-icon-size: 1rem;
    width: calc(var(--bs-icon-size) * 1.5);
    height: calc(var(--bs-icon-size) * 1.5)
}

.bs-icon-sm {
    --bs-icon-size: 1rem
}

.bs-icon-md {
    --bs-icon-size: 1.5rem
}

.bs-icon-lg {
    --bs-icon-size: 2rem
}

.bs-icon-xl {
    --bs-icon-size: 2.5rem
}

.bs-icon.bs-icon-primary {
    color: var(--bs-white);
    background: var(--bs-primary)
}

.bs-icon.bs-icon-primary-light {
    color: var(--bs-primary);
    background: rgba(var(--bs-primary-rgb), .2)
}

.bs-icon.bs-icon-semi-white {
    color: var(--bs-primary);
    background: rgba(255, 255, 255, .5)
}

.bs-icon.bs-icon-rounded {
    border-radius: .5rem
}

.bs-icon.bs-icon-circle {
    border-radius: 50%
}

.gotoemailbtn,
.loginbtn {
    background-color: #00738b
}

.loginbtn:hover {
    --bs-btn-hover-bg: #ffffff;
    background-color: #005c6f;
    --bs-btn-active-color: rgb(255, 255, 255);
    --bs-btn-active-bg: rgb(81, 81, 81)
}

.py-3 {
    padding-top: 1rem;
    padding-bottom: 1rem
}

.itemnew:hover,
itemnew:hover {
    color: #004f5f
}

.itemnew:hover {
    color: #107b92
}

.getcounselr {
    display: flex;
    max-height: 420px;
    min-height: 400px;
    align-items: end
}

.watchnow {
    color: #00454f;
    background-color: var(--bs-btn-active-color)
}

.watchnow:hover {
    color: #fff;
    background-color: #4d575f;
    --bs-btn-active-color: rgb(255, 255, 255);
    --bs-btn-active-bg: rgb(44, 49, 52)
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #00738b
}

.first-buttongroup {
    background-color: #107b92
}

.first-buttongroup:hover,
.gotoemailbtn:hover {
    background-color: #00454f
}

.navbar.fixed-top.off-canvas {
    bottom: 0;
    right: auto;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: 999999999999;
    width: 100%
}

.navbar.fixed-top.off-canvas .brand-line,
.navbar.fixed-top.off-canvas .nav {
    width: 100%
}

.nav.navbar-nav.drawer-menu {
    overflow-y: auto;
    flex: 1 1 auto;
    height: 0;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.navbar.fixed-top.off-canvas>div[class*=container-] {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-right: 0;
    padding-left: 0;
    height: 100%;
    align-content: space-between
}

.navbar.fixed-top.off-canvas .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0
}

.navbar.fixed-top.off-canvas.right-drawer,
.navbar.fixed-top.off-canvas[data-right-drawer="1"] {
    right: 0;
    left: auto;
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

.navbar.fixed-top.off-canvas.navbar-expand,
.navbar.fixed-top.off-canvas.open,
.navbar.fixed-top.off-canvas[data-open-drawer="1"] {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.navbar.fixed-top.off-canvas.navbar-expand .drawer-knob,
.navbar.fixed-top.off-canvas.navbar-expand button[data-dismiss=drawer],
.navbar.fixed-top.off-canvas.open .drawer-knob,
.navbar.fixed-top.off-canvas[data-open-drawer="1"] .drawer-knob {
    display: none
}

.navbar.fixed-top.off-canvas .drawer-knob {
    position: absolute;
    top: 10px;
    right: -36px
}

.drawer-push.drawer-expand>.drawer-site,
.drawer-push.open>.drawer-site {
    margin-left: 100%
}

.drawer-slide {
    position: relative;
    overflow-x: hidden
}

.drawer-slide>.drawer-site {
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out
}

.drawer-slide.open>.drawer-site {
    -webkit-transform: translateX(100%);
    transform: translateX(100%)
}

@media (min-width:576px) {
    .navbar.fixed-top.off-canvas.navbar-expand-sm {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .navbar.fixed-top.off-canvas.navbar-expand-sm .drawer-knob,
    .navbar.fixed-top.off-canvas.navbar-expand-sm button[data-dismiss=drawer] {
        display: none
    }

    .navbar.fixed-top.off-canvas {
        width: 280px
    }

    .drawer-push.drawer-expand-sm>.drawer-site,
    .drawer-push.drawer-expand>.drawer-site,
    .drawer-push.open>.drawer-site {
        margin-left: 280px
    }

    .drawer-slide.open>.drawer-site {
        -webkit-transform: translateX(280px);
        transform: translateX(280px)
    }
}

@media (min-width:768px) {
    .navbar.fixed-top.off-canvas.navbar-expand-md {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .navbar.fixed-top.off-canvas.navbar-expand-md .drawer-knob,
    .navbar.fixed-top.off-canvas.navbar-expand-md button[data-dismiss=drawer] {
        display: none
    }

    .navbar.fixed-top.off-canvas {
        width: 220px
    }

    .drawer-push.drawer-expand-md>.drawer-site,
    .drawer-push.drawer-expand-sm>.drawer-site,
    .drawer-push.drawer-expand>.drawer-site,
    .drawer-push.open>.drawer-site {
        margin-left: 220px
    }

    .drawer-slide.open>.drawer-site {
        -webkit-transform: translateX(220px);
        transform: translateX(220px)
    }
}

@media (min-width:992px) {
    .navbar.fixed-top.off-canvas.navbar-expand-lg {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .navbar.fixed-top.off-canvas.navbar-expand-lg .drawer-knob,
    .navbar.fixed-top.off-canvas.navbar-expand-lg button[data-dismiss=drawer] {
        display: none
    }

    .navbar.fixed-top.off-canvas {
        width: 220px
    }

    .drawer-push.drawer-expand-lg>.drawer-site,
    .drawer-push.drawer-expand-md>.drawer-site,
    .drawer-push.drawer-expand-sm>.drawer-site,
    .drawer-push.drawer-expand>.drawer-site,
    .drawer-push.open>.drawer-site {
        margin-left: 220px
    }

    .drawer-slide.open>.drawer-site {
        -webkit-transform: translateX(220px);
        transform: translateX(220px)
    }
}

@media (min-width:1200px) {
    .navbar.fixed-top.off-canvas.navbar-expand-xl {
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }

    .navbar.fixed-top.off-canvas.navbar-expand-xl .drawer-knob,
    .navbar.fixed-top.off-canvas.navbar-expand-xl button[data-dismiss=drawer] {
        display: none
    }

    .navbar.fixed-top.off-canvas {
        width: 260px
    }

    .drawer-push.drawer-expand-lg>.drawer-site,
    .drawer-push.drawer-expand-md>.drawer-site,
    .drawer-push.drawer-expand-sm>.drawer-site,
    .drawer-push.drawer-expand-xl>.drawer-site,
    .drawer-push.drawer-expand>.drawer-site,
    .drawer-push.open>.drawer-site {
        margin-left: 260px
    }

    .drawer-slide.open>.drawer-site {
        -webkit-transform: translateX(260px);
        transform: translateX(260px)
    }
}

body>div.drawer-fade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 0;
    transition: opacity .3s linear;
    background-color: #000;
    opacity: 0;
    z-index: 99999999999
}

body.drawer-open>div.drawer-fade {
    width: 100%;
    opacity: .6
}

.btn-check:checked+.btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: var(--bs-btn-active-color);
    background-color: var(--bs-body-color)
}